@media screen and (max-width: 600px) {
  //For Phones
      .container {
          width: 100;
      }
  }
@media screen and (min-width: 600px) {
  //For Tablets
      .container {
          width: 100;
      }
  }
  
  @media screen and (min-width: 768px) {
  //For Laptops
      .container {
          width: 738px;
      }
  }
  
  @media screen and (min-width: 992px) {
  //For Large Laptops
      .container {
          width: 962px;
      }
  }
  
  @media screen and (min-width: 1280px) {
  //For Big TV's (HD Screens) 
      .container {
          width: 1250px;
      }
  }
  
  
  @media screen and (min-width: 1920px) {
  //For Projectors or Higher Resolution Screens (Full HD)
      .container {
          width: 1890px;
      }
  }
  @media screen and (min-width: 3840px) {
  //For 4K Displays (Ultra HD)
      .container {
          width: 3810px;
      }
  }
header
{
background-color: #FFC93C;
text-align: center;
padding: 5px;
margin-top: -30px;
width: 100%;
}
p
{
  font-family: 'Fuzzy Bubbles', cursive;
  font-weight: bold;
}
body
{
  margin: 0px;
  background-color: #2C2E43;
  font-size: 24px
}
h1
{
font-family: 'Bebas Neue', cursive;
font-size: 90px;
margin-bottom: -20px;
color: #5C1273;
}
main
{
  margin-top: 20px;
}
hr.new
{
  border: 4px solid #FFC93C;
  width: 100%;

}
img
{
height: 70%;
width: 100%;
justify-content: flex-start;
}
section
{
    display: flex; 
}

h3 
{
    margin-left: 20%;
    text-align:center; 
    margin-left: 1%; 
    width: 100%;
  }
h1
{
font-family: 'Bebas Neue', cursive;
font-size: 70px;
margin-bottom: -20px;
color: #5C1273;
}
footer
{
  font-family: 'Bebas Neue', cursive;
}
form
{
  font-family: 'Bebas Neue', cursive;
}
div
{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img
{

}