header
  {
  background-color: #ffffff;
  padding: 1px;
  }
  body
  {
  margin: 0px;
  background-color: #000000;
  }
  section
  {
  background-color:#000000;
  margin: 0px 25px
  }
  p
  {
   color: #ffffff;
   
  }

