p
{
    color: white;
    margin-top: 3px;
}
h1
{
    color: #ff0050;
    text-align: center;
    margin: 0px;
}
body
{
    background-color: black;
    margin: 0px;
}
header
{
background-color:#00f2ea;
}